//	normalize.css
	html{font-family: PingFangSC, Microsoft JhengHei, sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
	body{margin:0;}
	article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
	audio,canvas,progress,video{display:inline-block; vertical-align:baseline;}
	audio:not([controls]){display:none;height:0;}
	[hidden],template{display:none;}
	a{background-color:transparent;}
	a:active,a:hover{outline:0;}
	abbr[title]{border-bottom:1px dotted;}
	b,strong{font-weight:bold;}
	dfn{font-style:italic;}
	h1{font-size:2em;margin:0.67em 0;}
	mark{background:#ff0;color:#000;}
	small{font-size:80%;}
	sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
	sup{top:-0.5em;}
	sub{bottom:-0.25em;}
	img{border:0;}
	svg:not(:root){overflow:hidden;}
	figure{margin:1em 40px;}
	hr{box-sizing:content-box;height:0;}
	pre{overflow:auto;}
	code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}
	button,input,optgroup,select,textarea{color:inherit; font:inherit; margin:0;}
	button{overflow:visible;}
	button,select{text-transform:none;}
	button,html input[type="button"], 
	input[type="reset"],input[type="submit"]{-webkit-appearance:button; cursor:pointer;}
	button[disabled],html input[disabled]{cursor:default;}
	button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
	input{line-height:normal;}
	input[type="checkbox"],input[type="radio"]{box-sizing:border-box; padding:0;}
	input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
	input[type="search"]{-webkit-appearance:textfield; box-sizing:content-box;}
	input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
	fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
	legend{border:0; padding:0;}
	textarea{overflow:auto;}
	optgroup{font-weight:bold;}
	table{border-collapse:collapse;border-spacing:0;}
	td,th{padding:0;}

html, body{ 
	width:100%;
	min-width:320px;
	background-color: #111;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling:touch;
}
body {
	color: #6D6D6D;
	font-size:14px;
	line-height:1.8;
	padding: 0;
}

.main-wrap {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

header {
	position: fixed;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	top: 0;
	background: linear-gradient(to bottom, #000 0%,rgba(0,0,0,0) 100%);
	.logo {
		position: relative;
		z-index: 1;
		left: 10px;
		a {
			display: inline-block;
			width: 150px;
			height: 40px;
			background: url(../img/logo.svg) center no-repeat;
		}
	}
	nav {
		position: fixed;
		height: 0;
		width: 100vw;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: .3s ease;
		background-color: rgba(0,0,0,0.9);
		ul {
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 100px 0 0;
			padding: 0;
			line-height: 40px;
			text-transform: uppercase;
			text-align: center;
			li {
				margin: 0;
				width: 100%;
				color: #fff;
				cursor: pointer;
				position: relative;
				a {
					color: #fff;
					text-decoration: none;
				}
				&.active:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
					background: linear-gradient(to right, #F6931D 0%,#ED1C23 100%);
					box-shadow: 0 1px 6px #ED1C23, 0 4px 10px rgba(246,147,29,.6);
				}
			}
		}
	}
	.menu-close {
		position: absolute;
		width: 20px;
		height: 18px;
		top: 10px;
		right: 13px;
		z-index: 1;
		b,
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 20px;
			height: 2px;
			background-color: #fff;
			left: 0;
			display: block;
			transition: .2s ease;
		}
		b {
			top: 8px;
		}
		&:before {
			top: 0px;
		}
		&:after {
			bottom: 0px;
		}
	}
	&.menu-open {
		nav {
			height: 100vh;
		}
		.menu-close {
			b {
				width: 0;
				left: 10px;
			}
			&:before {
				top: 8px;
				left: 1px;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 8px;
				left: 1px;
				transform: rotate(-45deg);
			}
		}
		
	}
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

.lang {
	width: 50px;
	position: absolute;	
	font-size: 12px;
	height: 30px;
	right: 50px;
	top: 4px;
	z-index: 1;
	&.zh {
		text-align: right;
		font-size: 13px;
	}
	.en,
	&.zh .zh {display: none;}
	&.zh .en {
		display: inline-block;
	}
	a {
		width: 45px;
		line-height: 30px;
		height: 30px;
		text-align: center;
		display: inline-block;
		text-align: center;
		color: #efefef;
		border-radius: 2px;
		text-decoration: none;
		border: 1px solid rgba(255, 255, 255, 0.4);
		cursor: pointer;
		margin: 0 10px;
	}
} 

.section > div {
	padding: 80px 0;
}

.banner {
	height: 70vh !important;
	margin-bottom: -50px;
	background-image: url(../img/banner-img.png);
	background-position: center 50px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	> div {
		height: 100% !important;
		position: relative;
	}
	.main-wrap {height: 100%;}
	.tagline {
		position: absolute;
		width: 90%;
		top: 65%;
		transform: translateY(-50%);
		margin-left: 5%;
	}
	h1 {
		color: #fff;
		font-size: 28px;
		line-height: 1.4;
		margin: 0;
	}
	.sub {
		margin: 0;
		font-size: 16px;
	}
}

.feature {
	> div {
		display: flex;
		width: 90%;
		position: relative;
		margin: auto;
		text-align: center;
		justify-content: space-between;
		flex-wrap: wrap;
		.feature-item {
			position: relative;
			width: 100%;
			height: 130px;
			padding: 0 20px 0 150px;
			box-sizing: border-box;
			background-color: #fff;
			font-size: 12px;
			border-radius: 2px;
			margin-bottom: 15px;
			text-align: left;
			box-shadow: 0 2px 7px rgba(0,0,0,0.2); 
			h2 {
				color: #000;
				font-size: 16px;
				line-height: 1.6;
				margin-bottom: 0px;
			}
			p {
				margin: 0;
				line-height: 1.5;
			}
			.sicon {
				width: 150px;
				height: 122px;
				position: absolute;
				overflow: hidden;
				margin: 0;
				top: 10px;
				left: 0px;
				&:before,
				&:after {
					width: 100%;
					height: 100%;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					opacity: 0;
				}
				&:after {
					transform: translateY(-30px);
				}
				&.showicon {
					&:before {
						transition: .5s;
						opacity: 1;
					}
					&:after {
						transition: .9s;
						opacity: 1;
						transform: translateY(0px);
					}
				}
				&.s01:before {
					background: url(../img/sicon-a2.png) center/100% no-repeat;
				}
				&.s01:after {
					background: url(../img/sicon-a1.png) center/100% no-repeat;
				}
				&.s02:before {
					transition-delay: 0.3s;
					background: url(../img/sicon-b2.png) center/100% no-repeat;
				}
				&.s02:after {
					transition-delay: 0.3s;
					background: url(../img/sicon-b1.png) center/100% no-repeat;
				}
				&.s03:before {
					transition-delay: 0.6s;
					background: url(../img/sicon-c2.png) center/100% no-repeat;
				}
				&.s03:after {
					transition-delay: 0.6s;
					background: url(../img/sicon-c1.png) center/100% no-repeat;
				}
			}
		}
	}
}

.advantage {
	> div {
		position: relative;
		text-align: center;
	}
	.title {
		font-size: 16px;
		font-weight: normal;
		color: #fff;
		width: 90%;
		text-align: left;
		margin: 0 auto 30px;
		span {
			color: #F6931D;
			font-size: 14px;
			&:before {
				content: '';
				width: 12px;
				height: 1px;
				display: inline-block;
				vertical-align: middle;
				background-color: #F6931D;
				margin: 0 5px;
			}
		}
	}
	.adv-block {
		display: flex;
		width: 90%;
		position: relative;
		margin: auto;
		text-align: center;
		justify-content: space-between;
		flex-wrap: wrap;
		.adv-item {
			width: 50%;
			margin-bottom: 50px;
			.advicon {
				width: 180px;
				height: 180px;
				position: relative;
				overflow: hidden;
				margin: auto;
				b,
				&:before,
				&:after,
				b:before,
				b:after {
					width: 100%;
					height: 100%;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
				}
				b:after {
					animation: ani-opc 5s linear infinite;
					background: url(../img/ficon-base.png) center/100% no-repeat;
				}
				&:before,
				&:after,
				b:before {
					z-index: 1;
				}
				&.f01 {
					&:before {
						animation: ani-opc 0.01s linear infinite;
						background: url(../img/ficon-a1.png) center/100% no-repeat;
					}
					&:after {
						animation: ani-move 4s 0.5s linear infinite;
						background: url(../img/ficon-a3.png) center/100% no-repeat;
					}
					b:before {
						background: url(../img/ficon-a2.png) center/100% no-repeat;
					}
				}
				&.f02 {
					&:before {
						animation: ani-move 5s linear infinite;
						background: url(../img/ficon-b1.png) center/100% no-repeat;
					}
					&:after {
						
						background: url(../img/ficon-b2.png) center/100% no-repeat;
					}
					b:before {
						animation: ani-move-opc 5s linear infinite;
						background: url(../img/ficon-b3.png) center/100% no-repeat;
					}
				}
				&.f03 {
					&:before {
						background: url(../img/ficon-c1.png) center/100% no-repeat;
					}
					&:after {
						
						background: url(../img/ficon-c2.png) center/100% no-repeat;
					}
					b:before {
						animation: ani-move 6s linear infinite;
						background: url(../img/ficon-c3.png) center/100% no-repeat;
					}
				}
				&.f04 {
					&:before {
						background: url(../img/ficon-d1.png) center/100% no-repeat;
					}
					&:after {
						animation: ani-move-scale 6s linear infinite;
						background: url(../img/ficon-d2.png) center/100% no-repeat;
					}
				}
				&.f05 {
					&:before {
						
						background: url(../img/ficon-e1.png) center/100% no-repeat;
					}
					&:after {
						animation: ani-move-opc 4s linear infinite;
						background: url(../img/ficon-e2.png) center/100% no-repeat;
					}
					b:before {
						background: url(../img/ficon-e3.png) center/100% no-repeat;
					}
				}
				&.f06 {
					&:before {
						animation: ani-opc 0.1s linear infinite;
						background: url(../img/ficon-f1.png) center/100% no-repeat;
					}
					&:after {
						animation: ani-move-scale 6s linear infinite;
						background: url(../img/ficon-f3.png) center/100% no-repeat;
					}
					b:before {
						background: url(../img/ficon-f2.png) center/100% no-repeat;
					}
				}
				@keyframes ani-opc {
					0%   {opacity: 0.4;}
					60%   {opacity: 1;}
					100%   {opacity: 0.4;}
				}
				@keyframes ani-move {
					0%   {transform: translateY(0)}
					60%   {transform: translateY(-4px)}
					100%   {transform: translateY(0)}
				}
				@keyframes ani-move-opc {
					0%   {opacity: 0.4;transform: translateY(0)}
					60%   {opacity: 1;transform: translateY(-4px)}
					100%   {opacity: 0.4;transform: translateY(0)}
				}
				@keyframes ani-move-scale {
					0%   {transform: translateY(0) scale(1)}
					60%   {transform: translateY(-1px) scale(1.1)}
					100%   {transform: translateY(0) scale(1)}
				}
			}
			h3 {
				margin: -10px 0 0;
				font-size: 16px;
				color: #fff;
				font-weight: normal;
			}
		}
	}
	
}



.product {
	> div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.product-item {
		position: relative;
		width: 50%;
		height: 280px;
		overflow: hidden;
		cursor: pointer;
		&:nth-of-type(n+3) {
			width: calc(100% / 3);
		}
		.prod-pic {
			position: absolute;
			width: 100%;
			top: 0;
			left: 50%;
			transition: 0.3s ease;
			transform: translateX(-50%);
		}
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: 0.5s ease;
			background: linear-gradient(150deg, rgba(77,77,77,.1) 0%,#000 70%);
		}
		.des {
			position: absolute;
			width: 100%;
			bottom: 0px;
			left: 0;
			padding: 10px;
			box-sizing: border-box;
			z-index: 1;
			font-size: 11px;
			line-height: 1.3;
			height: 190px;
			transition: 0.3s ease;
			h3 {
				color: #fff;
				font-weight: normal;
				margin: 0;
				font-size: 14px;
				&:after {
					content: '';
					width: 12px;
					height: 1px;
					display: inline-block;
					vertical-align: middle;
					background-color: #F6931D;
					margin-left: 5px;
				}
			}
			.more {
				display: none;
			}
		}
	}	
}
.partner {
	position: relative;
	width: 90%;
	margin: auto;
}
.footer-logo-box{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	> div{
	  height: 50px;
	  background:url(../img/footer-logos.png) no-repeat;
	  margin: 15px 10px;
	}
	> .A-MEBA-B{
	  width: 80px;
	  background-position: -10px 0px;
	}
	> .A-MEBA-W {
	  width: 80px;
	  background-position: -110px 0px;
	}
	> .AB {
	  width: 62px;
	  background-position: -210px 0px;
	}
	> .AG {
	  width: 53px;
	  background-position: -292px 0px;
	}
	> .Awesome {
	  width: 36px;
	  background-position: -365px 0px;
	}
	> .BACCARAT {
	  width: 87px;
	  background-position: -421px 0px;
	}
	> .CQ9 {
	  width: 68px;
	  background-position: -528px 0px;
	}
	> .Dream-Tech {
	  width: 46px;
	  background-position: -616px 0px;
	}
	> .GD {
	  width: 66px;
	  background-position: -682px 0px;
	}
	> .GG {
	  width: 90px;
	  background-position: -768px 0px;
	}
	> .HY {
	  width: 37px;
	  background-position: -878px 0px;
	}
	> .LAXINO {
	  width: 140px;
	  background-position: -935px 0px;
	}
	> .LG {
	  width: 109px;
	  background-position: -1095px 0px;
	}
	> .MEGA-WIN {
	  width: 76px;
	  background-position: -1224px 0px;
	}
	> .Micro {
	  width: 105px;
	  background-position: -1320px 0px;
	}
	> .NY {
	  width: 33px;
	  background-position: -1445px 0px;
	}
	> .RED-TIGER {
	  width: 45px;
	  background-position: -1498px 0px;
	}
	> .SA {
	  width: 91px;
	  background-position: -1563px 0px;
	}
	> .SABA-SPORTS {
	  width: 68px;
	  background-position: -1674px 0px;
	}
	> .SUNBET {
	  width: 51px;
	  background-position: -1762px 0px;
	}
	> .SV388 {
	  width: 86px;
	  background-position: -1833px 0px;
	}
	> .TRC {
	  width: 73px;
	  background-position: -1939px 0px;
	}
	> .UG {
	  width: 76px;
	  background-position: -2032px 0px;
	}
	> .VGS {
	  width: 54px;
	  background-position: -2128px 0px;
	}
	> .VR {
	  width: 56px;
	  background-position: -2202px 0px;
	}
	> .ZF {
	  width: 98px;
	  background-position: -2278px 0px;
	}
	> .bbin {
	  width: 64px;
	  background-position: -2396px 0px;
	}
	> .play-tech {
	  width: 83px;
	  background-position: -2480px 0px;
	}
	> .VSL {
	  width: 83px;
	  background-position: -2573px 0px;
	}
	> .JDB {
	  width: 83px;
	  background-position: -2653px 0px;
	}
}

//	iPhone4、5寬度以下
@media screen and (max-width: 320px) {
	
}
//	iPhone6、7、8 Plus以上
@media screen and (min-width: 400px) {
	
}
//	手機拿橫的，包含平板拿直的(版型區)
@media screen and (min-width: 480px) {
	
}

// 平板拿直的時候
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation:portrait){
	
}

//	平板拿橫「以上」版型區
@media screen and (min-width: 1024px) {
	header {
		nav {
			position: absolute;
			right: 55px;
			top: 0;
			width: auto;
			height: auto;
			left: initial;
			background: transparent;
			z-index: 1;
			ul {
				margin: 0;
				line-height: 40px;
				li {
					margin: 0 15px;
					width: auto;
					font-size: 14px;
					position: relative;
					&.active:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 1px;
						bottom: 0;
						left: 0;
						background: linear-gradient(to right, #F6931D 0%,#ED1C23 100%);
						box-shadow: 0 1px 6px #ED1C23, 0 4px 10px rgba(246,147,29,.6);
					}
				}
			}
		}
		.menu-close {
			display: none;
		}
	}
	.lang {
		right: 0;
	}
	
	.banner {
		height: 540px !important;
		background-position: right center;
		background-size: auto 100%;
		.tagline {
			width: 450px;
			top: 30%;
		}
		h1 {
			color: #fff;
			font-size: 28px;
			margin: 0;
		}
		.sub {
			margin: 0;
			font-size: 16px;
		}
	}
	.feature {
		> div {
			width: 750px;
			.feature-item {
				width: 230px;
				height: 220px;
				padding: 0 20px;
				text-align: center;
				h2 {
					margin: -5px 0 15px;
				}
				p {
					margin: -10px 0 0;
				}
				.sicon {
					width: 190px;
					height: 155px;
					position: relative;
					margin: -60px auto 0;
					top: initial;
					left: initial;
				}
			}
		}
	}
	.advantage {
		.title {
			width: 750px;
		}
		.adv-block {
			width: 750px;
			.adv-item {
				width: 230px;
				h3 {
				}
			}
		}
	}

	.product {
		.product-item {
			flex: 1;
			height: 500px;
			.prod-pic {
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
			.des {
				font-size: 12px;
				line-height: 1.6;
				padding: 10px 20px;
				bottom: -110px;
				left: 0;
				height: 180px;
				h3 {
					font-size: 16px;
				}
				.more {
					display: block;
				}
			}
			&:hover {
				.prod-pic {
					transform: translateX(-50%) translateY(-50%) scale(1.05);
				}
				&:after {
					opacity: 0.8;
				}
				.des {
					bottom: 0;
				}
			}
		}	
	}
	.partner {
		width: 800px;
	}
}

//	桌機1200版型區
@media screen and (min-width: 1200px) {
	.feature,
	.advantage {
		overflow: hidden;
		> div {
			transform: scale(1.2);
		}
		
	}
}
//	桌機1366版型區
@media screen and (min-width: 1366px) {
	
}
//	超大桌機版型區
@media screen and (min-width: 2000px) {
	
}
